<div class="mt-1 ml-5">
  <span class="bread-course hidden">
    <a class="">{{ page.title }}</a>
  </span>
  <span class="bread-part hidden">
    <i class="ri-arrow-drop-right-fill"></i>
    <a class="">{{ page.title }}</a>
  </span>
  <span class="bread-chapter hidden">
    <i class="ri-arrow-drop-right-fill"></i>
    <a class="">{{ page.title }}</a>
  </span>
  <span class="bread-section hidden">
    <i class="ri-arrow-drop-right-fill"></i>
    <a class="">{{ page.section_title }}</a>
  </span>
</div>