
<div class="courses-data hidden" data-courses='{{ site.courses | replace: "=>", ":"}}'></div>
<div class="curriculums-data hidden" data-curriculums='{{ site.curriculums | replace: "=>", ":"}}'></div>

<script>
  const COURSES_DATA = JSON.parse(document.querySelector('.courses-data').dataset.courses)
  const CURRICULUMS_DATA = JSON.parse(document.querySelector('.curriculums-data').dataset.curriculums)
  const currentCourse = sessionStorage.getItem('currentCourse')
  const currentUrl = new URL(location.href)
</script>

