<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title> 
      {{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content }}
    <div class="lo-ruby-line">
      aaaaaaaaaaaaaaaaaaaaa  
    </div>
    <sctipt src="{{ "assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
